.global-navigation-container {
    background-color: rgb(88, 0, 0);
    z-index: 1000;
}

/* NAVIGATION TOP */
.nav-bar__top-wrapper {
    padding: 8px 0;
    background: rgb(100, 0, 0);
    box-shadow: inset 0 -1px 0px rgba(49, 0, 0, 0.699);
}

.nav-bar__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
    line-height: 1em;
    list-style: none;
}

.nav-bar__top li:not(.nav-bar__sub-menu),
.nav-bar__bottom li:not(.nav-bar__sub-menu) {
    margin-right: 25px;
}

a.nav-bar__top-link:link, 
a.nav-bar__top-link:visited {
    font-weight: bold;
    transition: color 0.05s ease-in-out;
}

a.nav-bar__top-link:link, 
a.nav-bar__top-link:visited,
.nav-bar__top li {
    font-size: 17px;
    letter-spacing: -.5px;
}

/* NAVIGATION BOTTOM */
.nav-bar__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25262b;
    height: 80px;
}

.nav-bar__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    font-weight: bold;
    color: white !important;
    font-size: 2.3rem;
    letter-spacing: -1.2px;
}

.nav-bar__bottom-body {
    display: flex;
    margin-right: 2rem;
    list-style: none;
    text-align: center;
    width: 70vw;
    height: 100%;
    justify-content: flex-end;
}

.nav-bar__drop-menu {
    display: flex;
    align-items: center;
}

.nav-bar__drop-menu a {
    width: 100%;
    display: flex;
    padding: 0 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    transition: color 0.2s 
    ease-in-out;
}

.nav-bar__drop-menu a:hover {
    color: rgb(105, 105, 105);
}

.space {
    padding: 0 4px;
}

/* DROPMENU */
.nav-bar__sub-menu {
    width: 15rem;
    position: absolute;
    top: 110px;
    list-style: none;
    margin-left: -30px;
}

.nav-bar__sub-menu.clicked {
    display: none;
}

.nav-bar__sub-menu li {
    text-align: start;
    cursor: pointer;
    transition: background .05s ease-in;
}

.nav-bar__sub-menu li a {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    color: rgba(0, 0, 0, 0.548);
    font-size: 16px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}

.nav-bar__sub-menu li a:hover{
    background: rgb(253, 111, 92);
    color: white;
}

@media (max-width: 1290px) {
    
    .nav-bar__top-wrapper {
        display: none;
    }
}

@media (max-width: 767px) {
    .global-navigation-container {
        width: 100%;
        height: 64px;
        position: absolute;
        z-index: 1000;
    }
    
}