.global-navigation-container {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 99999;
}

/* NAVIGATION TOP */
.nav-bar__top-wrapper {
    padding: 8px 0;
    background: rgb(100, 0, 0);
    box-shadow: inset 0 -1px 0px rgba(49, 0, 0, 0.699);
}

.nav-bar__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
    line-height: 1em;
    list-style: none;
}

.nav-bar__top li:not(.drop-items),
.nav-bar__bottom li:not(.drop-items) {
    margin-right: 25px;
}

a.nav-bar__top-link:link, 
a.nav-bar__top-link:visited {
    font-weight: bold;
    transition: color 0.05s ease-in-out;
}

a.nav-bar__top-link:link, 
a.nav-bar__top-link:visited,
.nav-bar__top li {
    font-size: 17px;
    letter-spacing: -.5px;
}

/* NAVIGATION BOTTOM */
.nav-bar__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: #0000007a;
    height: 80px;
}

.nav-bar__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white !important;
    font-size: 2rem;
    letter-spacing: -2px;
}

/* -- dropdown nav -- */
.nav-bar__bottom nav {
    display: flex;
    height: 100%;
}

.menus {
    display: flex;
    list-style: none;
    width: 75vw;
    justify-content: flex-end;
}

.drop-items {
    position: relative;
    display: flex;
    height: 100%;
    margin-right: 20px;
}

/* .menus button */
.drop-items button
{   
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 0;
    
    background-color: transparent;
}

.nav-main {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.548);
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0 20px;
}

/* -- arror piece -- */

.arrow::after {
    margin-left: 7px;
    color: rgb(136, 136, 136);
    content: "";
    display: inline-block;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
    transition: color .4s ease-in-out;
}

a:link:hover .arrow::after,
a:visited:hover .arrow::after  {
    color: rgb(255, 230, 90);
}

/* -- dropdown menu -- */
.dropdown {
    position: absolute;
    top: 5rem;
    list-style: none;
    padding: 0;
    min-width: 12rem;
    z-index: 9999;
    background-color: #ffffff;
    display: none;
}

.dropdown .drop-items {
    margin: 0;
}

.dropdown .drop-items a
{
    padding: 25px 30px;
    color: rgb(77, 77, 77);
    width: 100%;
    font-size: 15px;
}

.dropdown .drop-items a:hover
{
    color: rgb(255, 255, 255);
    background: rgba(202, 41, 41, 0.849);
}

.dropdown.show {
    display: block;
}

/* -- submenu left/right position -- */
.dropdown.dropdown-submenu {
    position: absolute;
    width: 12rem;
    left: 100%;
    top: 1px;
}

.menus .drop-items:not(.dropdown .drop-items):last-of-type .dropdown.dropdown-submenu {
    left: -192px;
}


/* MEDIA QUERIES */
@media (max-width: 1290px) {
    
    .nav-bar__top-wrapper {
        display: none;
    }
}