.shows-events {
    background-color: rgba(114, 0, 0, 0.911);
}

.shows-events .card  {
    background-color: rgb(238, 238, 238);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 5px 15px .5px rgba(0, 0, 0, 0.582);
}

.shows-events h1 {
    color: rgb(88, 37, 37);
    font-weight: bold;
    font-size: 3rem;
}

.shows-events p {
    font-size: 1.5rem;
}

.shows-events a p {
    margin-top: 20px;
    color: rgb(112, 112, 112);
    transition: color .2s ease-in;
}

.shows-events a p:hover {
    color: rgb(212, 173, 0);
}