.tours h1,
.tours h2,
.tours h4 {
    font-family: 'Times New Roman', Times, serif
}

.tours h2 {
    font-weight: bold;
}

.tours h4 {
    font-size: 1rem;
}

.tours p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    padding-left: 25px;
}

.tours .member p {
    padding: 0;
}

@media screen and (max-width: 990px) {
    .tours .card.py-5 {
        padding-bottom: 0 !important;
    }

    .tours h2 {
        font-size: 3.5rem;
    }
    
}