.uh-oh .future-feature h1,
.future-feature h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.future-feature span {
 color: rgb(190, 54, 54);
}

.future-feature h2 {
    font-size: 2rem;
    font-weight: normal;
    color: inherit;
    opacity: .2;
    transition: opacity .2s ease-out;
}

.future-feature .links a h2:hover {
    opacity: 1;
}
